 .container { 
  background-image: url("../../assets/Images/background-home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100;

  .login {
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    font-family: var(--font-title);
    background-color: var(--black-1);
    border-radius: 10px;
    padding: 20px;

    img {
      margin: 15px 0;
      width: 60%;
    }

    form {
      margin-top: 100px;
      background-color: var(--black-2);
      color: var(--white);
      margin: 10px 10px;
      padding: 15px;
      border-radius: 10px;

      input {
        border-radius: 30px;
        background-color: var(--grey);
        border: none;

        &:focus {
          background-color: var(--white);
        }
      }

      .btn__login {
        flex-direction: column;

        button {
          width: 100%;
          border-radius: 30px;
          border: none;

          &:nth-child(1) {
            background-color: var(--blue);
            color: var(--black-1);
          }

          &:hover {
            background-color: var(--purple);
            color: var(--white);
          }
        }
      }
    }
  }
}