main {
  .filterBtn {
    display: block;

    i {
      margin: 4px 0 0 5px;
      float: left;
    }
  }

  .devicesBtn {
    display: block;
    i {
        margin: 4px 0 0 5px;
        float: left;
      }
  }
}