main {
  .homeBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    .filterBtn {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 10px;

      i {
        margin: 11px 0 0 5px;
        float: left;
      }
    }

    .devicesBtn {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 10px;

      i {
        margin: 11px 0 0 5px;
        float: left;
      }
    }
  }
}